### 1) Create a list 'd' containing the values: 2, 4, 6, 8, 'Monday', 'Tuesday'

In [1]:
d = [2, 4, 6, 8, 'Monday', 'Tuesday']
print(d)

[2, 4, 6, 8, 'Monday', 'Tuesday']

### 2) Insert the value 100 between 4 and 6.

In [2]:
d.insert(2,100)
print(d)

[2, 4, 100, 6, 8, 'Monday', 'Tuesday']

### 3) Iterate over 'd', printing the type of each variable to the console. Have a tab character printed after each element, rather than a newline.

In [3]:
for element in d:
    print(type(element),end = "\t")

<class 'int'>	<class 'int'>	<class 'int'>	<class 'int'>	<class 'int'>	<class 'str'>	<class 'str'>

### 4) Create a new list 'd2' containing the values: 'Wednesday', Thursday', 'Friday'

In [4]:
d2 = [ 'Wednesday', 'Thursday', 'Friday']

### 5) Concatenate the two lists, storing the result in 'd'.

In [5]:
d = d + d2
print(d)

[2, 4, 100, 6, 8, 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

### 6) Pop the last value off of 'd', and use it in a formatted string to say "My favourite day of the week is XXX", where XXX the popped value.

In [6]:
popped_val = d.pop(len(d)-1)
print(f"My favourite day of the week is {popped_val}.")

My favourite day of the week is Friday.

### 7) Create a numpy array 'd', containing 10 linearly spaced values from 0 to 35.

In [7]:
import numpy as np
d = np.array(np.linspace(start = 0, stop = 35, num = 10))
print(d)

[ 0.          3.88888889  7.77777778 11.66666667 15.55555556 19.44444444
 23.33333333 27.22222222 31.11111111 35.        ]

### 8) Reshape 'd' into a 5x2 array, storing the result in 'd'

In [8]:
d = d.reshape(5,2)
print(d)

[[ 0.          3.88888889]
 [ 7.77777778 11.66666667]
 [15.55555556 19.44444444]
 [23.33333333 27.22222222]
 [31.11111111 35.        ]]

### 9) Calculate mean of the values in each column of 'd', rounding to two decimal places, and print the results.

In [9]:
c1_mean = d.mean(axis=0)
np.set_printoptions(precision=2)
print(f" The means are, {c1_mean}")

 The means are, [15.56 19.44]

### 10) Print these values in 'd': all rows, second column

In [10]:
print(d[:,1])

[ 3.89 11.67 19.44 27.22 35.  ]