### Create 'd', a nested list that contains 5 other lists. The first list should contain the four string values: ID, Age, is_part_time, salary. The next 4 lists should contain date of types: int, int, boolean, int. For example [3, 35, False, 72000]. Populate these 4 remaining lists with your own made-up data.

In [1]:
d = [[ "ID", "Age", "is_part_time", "salary"],[2700, 35, False, 50000], [2701, 19, True, 30000], [2702, 58, False, 80000],[2703, 42, False, 95000] ]
print(d)

[['ID', 'Age', 'is_part_time', 'salary'], [2700, 35, False, 50000], [2701, 19, True, 30000], [2702, 58, False, 80000], [2703, 42, False, 95000]]

### Print your current working directory to the console.

In [2]:
pwd

'C:\\Users\\David\\Documents\\Scientific Data Analysis'

### Using Python's csv module, write 'd' to disk as a csv file. Use the method writerows() to write the nested list structure.

In [3]:
import csv
filename = "d.csv"
with open(filename, 'w', newline="") as file:
    csvwriter = csv.writer(file) 
    csvwriter.writerows(d)

### Using pandas module, load the same csv file into 'd2', and print d2.

In [4]:
import pandas as pd
d2 = pd.read_csv(r"C:\\Users\\David\\Documents\\Scientific Data Analysis\\d.csv")
print(d2)

     ID  Age  is_part_time  salary
0  2700   35         False   50000
1  2701   19          True   30000
2  2702   58         False   80000
3  2703   42         False   95000

### Create a Series 'd' containing 5 values, 0 through 4 inclusive, in increments of 1, with indexes 'a' through 'e', inclusive.

In [5]:
d = pd.Series(range(0,5,1), index = ["a","b","c","d","e"])
print(d)

a    0
b    1
c    2
d    3
e    4
dtype: int64

### Create a 'd2' containing 5 values, 5 through 9 inclusive, with indexes: a,b,c,d,z.

In [6]:
d2 = pd.Series(range(5,10,1), index = ["a","b","c","d","z"])
print(d2)

a    5
b    6
c    7
d    8
z    9
dtype: int64

### Arithmetically add d and d2, save in 'd3', and print d3 to console. You should see two NaN values at the end of d3.

In [7]:
d3 = d+d2
print(d3)

a     5.0
b     7.0
c     9.0
d    11.0
e     NaN
z     NaN
dtype: float64

### Using a Panda's method, identify which values in d3 contain NaN. Using that information, print only those NaN values in d3 to console.

In [8]:
print(d3[d3.isna()])

e   NaN
z   NaN
dtype: float64

### Pandas come with a few built-in DataFrame objects. Assign the following built-in DataFrame to variable 'd4': pd._testing.makeMixedDataFrame(). Print d4 to console.

In [9]:
d4 = pd._testing.makeMixedDataFrame()
print(d4)

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

### Determine which elements in column 'A' are greater than 2, and store the result in a new column in d4 called 'greater'. Print d4 to console.

In [10]:
col = []
for i in  d4.loc[:,"A"]:
    if i>2:
        col.append(i)
new_col = pd.Series(col)
d4["greater"] = new_col
print(d4)

#Alternative way
# col = pd.DataFrame(col)

# d4 = pd.concat([d4,col], axis = 1)
# d4 = d4.rename(columns = {0:'greater'})

     A    B     C          D  greater
0  0.0  0.0  foo1 2009-01-01      3.0
1  1.0  1.0  foo2 2009-01-02      4.0
2  2.0  0.0  foo3 2009-01-05      NaN
3  3.0  1.0  foo4 2009-01-06      NaN
4  4.0  0.0  foo5 2009-01-07      NaN