In [1]:
import pandas as pd
import numpy as np
d = pd.DataFrame({'Mon': [68, 89, np.nan], 'Wed': [71, 93, 48], 'Fri': [66, 82, 104],
'Tue': [75, 97, 43], 'Thu': [62, np.nan, 89]}, index = ["day1","day2","day3"]).T
print(d)

     day1  day2   day3
Mon  68.0  89.0    NaN
Wed  71.0  93.0   48.0
Fri  66.0  82.0  104.0
Tue  75.0  97.0   43.0
Thu  62.0   NaN   89.0

### Reindex 'd' so row indices read chronologically, and include Sat and Sun. That is, "Mon", "Tue", ..., "Sat', "Sun", and the columns indices read day3, day2, day1. Print d to the console.

In [2]:

d = d.reindex(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"], )
d = d.reindex(["day3","day2","day1"], axis = 'columns')
print(d)

      day3  day2  day1
Mon    NaN  89.0  68.0
Tue   43.0  97.0  75.0
Wed   48.0  93.0  71.0
Thu   89.0   NaN  62.0
Fri  104.0  82.0  66.0
Sat    NaN   NaN   NaN
Sun    NaN   NaN   NaN

### Print to the console the following elements: Tuesday and Thursday, for days3 and days2.

In [3]:
print(d.loc[["Tue", "Thu"], ["day3", "day2"]])

     day3  day2
Tue  43.0  97.0
Thu  89.0   NaN

### Using a single line of code, print the mean temperature for each day of the week to the console, rounding values to 3 decimal places.

In [4]:
print(d.mean().round(3))

day3    71.00
day2    90.25
day1    68.40
dtype: float64

In [5]:
d = pd.read_csv("mpg.csv")

###  Calculate the mean city (cty) mileage for each manufacturer, printing the result to the console.

In [6]:
mean = d.groupby('manufacturer')['cty'].mean()
print(mean)

manufacturer
audi          17.611111
chevrolet     15.000000
dodge         13.135135
ford          14.000000
honda         24.444444
hyundai       18.642857
jeep          13.500000
land rover    11.500000
lincoln       11.333333
mercury       13.250000
nissan        18.076923
pontiac       17.000000
subaru        19.285714
toyota        18.529412
volkswagen    20.925926
Name: cty, dtype: float64

###  Group 'd' by cylinders (cyl) and type of drive train (drv). Calculate the number of models per group (hint: .size()). Convert the result into a DataFrame, and print to the console.  Your output should match the following:

In [8]:
grouped = d.groupby(['cyl', 'drv']).size().reset_index(name='count')
pivot = grouped.pivot_table(index='cyl', columns='drv', values='count')
print(pivot)

drv     4     f     r
cyl
4    23.0  58.0   NaN
5     NaN   4.0   NaN
6    32.0  43.0   4.0
8    48.0   1.0  21.0